@import './assets/fonts/inter.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  font-family: 'Inter', sans-serif;
  width: 100vw;
  overflow-x: hidden;
  background-color: #dddddd;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

h1,
h2,
h3,
h4 {
  font-family: 'inter var';
  font-weight: 900;
  text-transform: uppercase;
  line-height: 0.9 !important;
}
#root {
  width: 100%;
}
body {
  /* background-image: linear-gradient(
    45deg,
    hsl(297deg 64% 28%) 0%,
    hsl(271deg 52% 32%) 9%,
    hsl(242deg 47% 32%) 17%,
    hsl(244deg 38% 20%) 26%,
    hsl(246deg 10% 11%) 36%,
    hsl(224deg 39% 11%) 47%,
    hsl(222deg 47% 8%) 63%,
    hsl(0deg 0% 0%) 100%
  ); */
}
.home {
  width: 100%;
}

/* * {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}*/

.cls-1 {
  stroke: #fff;
  stroke-miterlimit: 10;
  stroke-width: 1px;
}

.canvas {
  position: static !important;
}
