@import './assets/fonts/inter.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/*
Css is horrid but better looking than Tailwind
*/

html {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  font-family: 'Inter', sans-serif;
  width: 100vw;
  overflow-x: hidden;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

h1,
h2,
h3,
h4 {
  font-family: 'inter var';
  font-weight: 900;
  text-transform: uppercase;
  line-height: 0.9 !important;
}
#root {
  width: 100%;
  background-color: #000;
}
.home {
  width: 100%;
}

.background-container {
  position: relative;
  display: flex;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
}
.video-container {
  flex: 1;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}
#bgVideo {
  flex: 1;
  background-color: #000;
  opacity: 1;
  visibility: visible;
  width: 100%;
  height: 100vh;
}
.scroll-container {
  overflow: hidden;
}
.step {
  height: 100vh;
  width: 100%;
}
.step > article {
  width: 100%;
  color: #ffffff;
  opacity: 1;
}
